img {
    border-radius: 10px;
    width: 40%;
    height: 40%;
    border: 2px solid;
}

.center {
    text-align: center;
    border: 2px solid;
}

#profile-img {
    width: 20%;
    height: 20%;
}

#main-content {
    background-color: #c7faff;
    margin: 100px 150px 100px 80px;
}
