img {
    border-radius: 10px;
    width: 25%;
    height: 25%;
    border: 2px solid;
}

#profile-img {
    width: 10%;
    height: 10%;
}

.center {
    text-align: center;
    border: 2px solid;
}

#main-content {
    background-color: #c7faff;
    margin: 100px 150px 100px 80px;
}
